<form action="" method="post" id="update-functionForm" class="form update-functionForm">
	
	<h1 class="header-form">
		Actualizar funcion {{this.functionNameTitle}}
	</h1>
    <div class="body-form">

	    <div class="control-group">
	    	<label for="function-name">Nombre de la funcion:</label>
	    	<input type="text" name="functionName" id="function-name" class="update-data" value="" [(ngModel)]='functionName'>
		</div>
	
		<div class="control-group"> 
			<label for="description">Descripcion de la funcion:</label>
			<textarea cols="50" rows="5" name="description" id="description" class="update-data" [(ngModel)]='description'></textarea>
		</div>
		<input type="hidden" name="functionId" value="" [(ngModel)]="functionId">
	</div>
	
	<div class="footer-form">
		<input type="submit" name="addFunctionBtn" id="update-functionBtn" class="btn action-formBtn update-functionBtn" value="Actualizar" (click)='update_one()'>
		<input type="button" name="closeBtn" id="close-formBtn" class="btn close-formBtn" value="Cerrar" (click)="close_form()"> 
	</div>

</form>
