.functions-container{
	display: none;
}
.function-wrap{
	border: solid 1px #BEBEBF;
	border-radius: 10px;
	box-shadow: -1px 12px 18px 0px rgba(0,0,0,0.4);
	color:  #272822;
	margin-bottom: 20px;
	padding: 15px; 
}
.function-name{
	margin-bottom: 10px;
}
.description{
	display: flex;
}
.description-wrap{
	flex-basis: 90%; 
}
.btns-wrap{
	display: flex;
	flex-basis: 10%;
	margin-left: 10px;
}
.update-btn:hover, .del-btn:hover{
	opacity: 0.5;
}
.update-btn{
	flex-basis: 50%;
}
.del-btn{
	flex-basis: 50%;
}
