.service-msg{
	margin-bottom: 20px;
}
.loader-container{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 130%; 
	flex-basis: 20%;
	width: 100%;
	height: 30px;
}
.loader-img{
	background: url("../assets/img/Ring-Preloader.gif");
	background-size: 380% 300%;
	background-repeat: no-repeat;
	background-position: center;
	display: none;
	width: 30px;
	height: 30px;
}