<div class="main-container">

  <app-header></app-header>
  
  <section class="container">

    <aside class="index-wrap">    

      <!--barra lateral-->
      <app-aside [boxMsg]="boxMsgs"></app-aside>
    
    </aside>

    <section class="content-wrap">
    
      <h1 class="page-title">Diccionario de funciones PHP</h1>            

      <div class="service-msg" id="service-msg"></div>
        
      <div class="content">
        
        <!--contenido-->

        <div class="components-wrap" id="components-wrap">
          
          <app-cover-page></app-cover-page>
          <app-show-search-results></app-show-search-results>          
          <app-add-form [boxMsg]="boxMsgs"></app-add-form>
          <app-update-form [boxMsg]="boxMsgs"></app-update-form>
          <app-delete-form [boxMsg]="boxMsgs"></app-delete-form>
          
        </div>

      </div>
    
    </section>

  </section>
  
</div>

<!--<router-outlet></router-outlet>-->