.index-title{
	color: #282923;
	padding: 10px 20px;
}
.alphabet-wrap{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.alphabet-item{
	margin-top: 5px;	
}
	
.alphabet-btn{
	border: solid 1px #0A84FF;
	background-color: white;	
	border-radius: 3px;
	color: #0A84FF; 
	font-weight: bold;
	padding: 5%;
	width: 80px;
}
.alphabet-btn:hover{
	background-color: #0A84FF;
	color: white;
	width: 100px; 
}
